<div class="card-body">
  <p>Please scan the below QR code using an OTP compatible app (such as Google Authenticator or Authy).</p>
  <hr />
  <p class="text-center">
    <%= qr_code_as_svg%>
  </p>
  <hr />
  <p class="text-center">
    If you cannot scan, please enter the following code manually: <code><%= otp_secret %></code>
  </p>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), method: :post) do |f| %>
  <div><%= f.label :otp_attempt, "Código de seguridad:" %><br />
    <%= f.text_field :otp_attempt %> </div>

  <%= f.submit "Enviar" %>
<%end %>